#audioPlayer {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    background-color: $darkerNight;
    display: none;
    grid: auto / auto auto 1fr;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    width: fit-content;
    height: fit-content;
    border-radius: 0.188rem;
    border: .2rem solid $purple;
    z-index: 5;
    transition: all 0s;

    @include breakpoint(md) {
        display: grid;
    }

    &.playing {
        animation: glowPulse 2s infinite;

        .fa-play {
            color: lighten($night, 5%);
            cursor: default;
        }

        .fa-pause {
            color: white;
            cursor: pointer;
        }

        #wave {
            fill: white;
            transform: scale(1);
        }
    }

    &.scroll-mode {
        transition: all ease-in-out .5s;
        border-radius: 100%;

        i.active {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            z-index: 2;
        }

        i:not(.active) {
            display: none;
        }

        #wave {
            grid-column: 1 / -1;
            grid-row: 1 / -1;
            width: 2rem;
            height: 3rem;
            transform: scale(1.5);
            fill: $night;
        }
    }

    .fa-play, .fa-pause {
        color: $white;
        font-size: 1.5rem;
        cursor: pointer;
        pointer-events: all;
    }

    .fa-play {
        grid-column: 1;
    }

    .fa-pause {
        grid-column: 2;
        color: lighten($night, 5%);
        cursor: default;
    }

    #wave {
        width: 4rem;
        fill: lighten($night, 5%);
        transform: scaleY(.1);
        transition: transform .5s ease-in-out;
    }
}