$neon: #C724B1;
$andes: #71DBD4;
$purple: #642F6C;
$darkPurple: #401e45;
$blue: #58A7AF;
$gray: #B3B0C4;
$night: #3A3A59;
$darkNight: #232336;
$darkerNight: #1A1A2E;
$darkestNight: #0D0D1A;
$white: rgba(255, 255, 255, 0.9);
$glowColors: $neon, $andes, $purple, $blue;