footer {
    background-color: darken($darkestNight, 10%);
    padding: 2rem;
    color: $night;
    display: grid;
    grid: auto / 1fr;
    height: 100%;

    h4 {
        font-weight: 600;
        color: rgba(whitesmoke, .8);
    }

    span {
        display: inline-flex;
        font-size: 0.8rem;

        a {
            display: block;
            padding-left: 0.2rem;

            &:hover {
                color: white;
            }
        }
    }

    .footer__left {
        grid-row: 2;
        display: flex;
        flex-direction: column;

        span > a {
            color: rgba(whitesmoke, .5);
        }

        @include breakpoint(lg) {
            grid-row: 1;
            grid-column: 1;
        }
    }

    .footer__right {
        grid-row: 1;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 2rem;

        @include breakpoint(lg) {
            grid-row: 1;
            grid-column: 2;
            justify-content: center;
            align-items: end;
            margin-bottom: 0;
        }

        span {
            color: rgba(whitesmoke, .5);
        }

        a {
            color: whitesmoke;
            font-size: .8rem;

            @include breakpoint(lg) {
                &:hover {
                    color: $blue;
                }
            }

            .fa-envelope {
                margin-right: .5rem;
            }
        }
    }
}