header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2rem;
    height: 6rem;
    z-index: 15;
    display: grid;
    grid: auto / 1fr 1fr;
    align-items: center;
    transition: all ease-in-out .2s;

    &.fill {
        height: 4rem;
        background: $darkerNight;
        transition: all ease-in-out .5s;
        box-shadow: 1rem 0 3rem 1rem rgba($darkestNight, .5);


        .logo {
            width: 3rem;
        }
    }

    .logo {
        width: 3rem;
        height: auto;
        justify-self: start;

        @include breakpoint(lg) {
            width: 5rem;
        }
    }

    .links {
        align-self: center;
        display: flex;
        justify-self: end;
        font-size: 2rem;
        color: white;
        gap: 1rem;

        a {
            &.disabled {
                pointer-events: none;
                i {
                    opacity: .3;
                }
            }

            &:hover {
                -webkit-text-stroke: 0 transparent;
            }
        }

        i {
            color: white;

            &:hover {
                transition: color 0.5s;
            }
        }

        .fa-vuejs:hover {
            color: #41B883;
        }
        .fa-react:hover {
            color: #61DBFB;
        }
        .fa-linkedin:hover {
            color: #0072b1;
        }
        .fa-github:hover {
            color: gray;
        }
    }
}