nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    height: 4rem;
    z-index: 15;
    display: grid;
    grid: auto / 1fr 1fr;
    align-items: center;
    transition: all ease-in-out .2s;

    &.hide {
        display: none;
    }

    @include breakpoint(md) {
        height: 6rem;
        padding: 0 2rem;
    }

    &:not(.home) {
        &::after {
            display: none;
        }
    }

    &.fill {
        height: 4rem;
        background: $darkerNight;
        transition: all ease-in-out .5s;
        box-shadow: 1rem 0 3rem 1rem rgba($darkestNight, .5);

        .logo {
            width: 3rem;
        }
    }

    .fullscreen & {
        height: 4rem;

        .logo {
            width: 3rem;
        }
    }

    &.mobile {
        padding: 0 1rem;

        .mobile-menu-btn {
            grid-row: 1;
            grid-column: 2;
            justify-self: end;
            font-size: 2rem;
            z-index: 2;

            .fa-times {
                font-size: 2rem;
                z-index: 2;
                width: 1.7rem;
            }
        }
    }

    .uc-message {
        position: absolute;
        width: max-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $darkerNight;
        color: white;
        font-size: 1rem;
        text-align: center;
        transition: all ease-in-out .5s;
        z-index: 1;
        cursor: pointer;

        > span {
            background: $darkerNight;
            color: white;
            font-size: 1rem;
            text-align: center;
            transition: all ease-in-out .5s;
            border-radius: 5px;
            padding: 0.5rem;
            z-index: 1;
            border: 1px solid $neon;
            box-shadow: 0 0 9px $neon;
        }

        .slide-down {
            position: absolute;
            background: $darkNight;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            z-index: -1;
            overflow: hidden;
            height: 0;
            width: auto;
            transition: all ease-in-out .5s;

            &.show {
                padding-top: 3rem;
                height: fit-content;
                transition: all ease-in-out .5s;
            }

            figure {
                width: 7rem;

                img {
                    object-fit: cover;
                }
            }
        }
    }
}

.nav-title {
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;

    @include breakpoint(lg) {
        font-size: 2rem;
    }
}

.logo {
    grid-row: 1;
    grid-column: 1;
    width: 3rem;
    height: auto;
    justify-self: start;

    @include breakpoint(lg) {
        width: 5rem;
    }
}

.exit-fullscreen {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    font-size: 2rem;
    cursor: pointer;
}

.links {
    align-self: center;
    display: flex;
    justify-self: end;
    font-size: 2rem;
    color: white;
    gap: 1rem;

    .mobile & {
        position: fixed;
        top: 0;
        bottom: 0;
        left: auto;
        right: 0;
        height: 100%;
        padding-top: 5.5rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: 4rem;
        background-color: rgba($darkestNight, .8);
        transition: all ease-in-out .2s;
        transform: translateX(100%);

        &.show {
            transform: translateX(0);
            transition: all ease-in .4s;
        }

        a {
            font-size: 2.5rem;
        }
    }

    @include breakpoint(lg) {
        grid-row: 1;
        grid-column: 2;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.disabled {
            //pointer-events: none;
            cursor: default;

            i {
                opacity: .3;
            }

            &:hover {
                color: white;
            }
        }

        &:hover {
            -webkit-text-stroke: 0 transparent;
        }

        &[class^="mode--"] {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            i, svg {
                font-size: 24px;
                color: gray;
                fill: white
            }

            &.mode--fun {
                svg:hover {
                    fill: $neon;
                }
            }

            &.mode--professional:hover {
                i:hover {
                    color: dodgerblue;
                }
            }
        }
    }

    .divider {
        color: gray;
        opacity: 0.2;
        cursor: default;

        .mobile & {
            display: none;
        }
    }

    i {
        color: white;

        .professional-mode & {
            color: $darkNight;
        }

        &:hover {
            transition: color 0.5s;
        }
    }

    .fa-sketch {
        font-size: 30px;

        &:hover {
            color: #F7B500;
        }
    }

    .fa-vuejs:hover {
        color: #41B883;
    }

    .fa-react:hover {
        //color: #61DBFB;
    }

    .fa-linkedin:hover {
        color: #0072b1;
    }

    .fa-github:hover {
        color: gray;
    }
}

.mos9 {
    background-color: #62639B;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Chicago, sans-serif;
    font-size: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.mos9-window {
    display: flex;
    flex-direction: column;
    background-color: #cecece;
    position: fixed;
    top: 10%;
    left: auto;
    right: auto;
    bottom: 10%;
    z-index: 5;
    border: solid 1px #000000;
    box-shadow: 2px 2px 0 #000000;
    min-width: 300px;
    min-height: 200px;
    border: {
        top: solid 1px #ffffff;
        left: solid 1px #ffffff;
        right: solid 1px #B5B5B5;
        bottom: solid 1px #B5B5B5;
    }

    .mos9-window__header {
        display: flex;
        justify-content: space-between;

        .mos9-window__title {
            flex: 1;
            display: flex;
            padding: 2px;

            &:before, &:after {
                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAGUlEQVQYV2P8////fwY0wFhcXIwpOERUAgBPkx+vDNl9TQAAAABJRU5ErkJggg==');
                content: '';
                flex: 1;
            }

            &:before {
                margin-right: 10px;
            }

            &:after {
                margin-left: 10px;
            }
        }

        .mos9-window__tools {
            display: flex;
            padding: 2px;

            .mos9-window__tool--1,
            .mos9-window__tool--2, {
                &:after {
                    content: '';
                    display: block;
                    border-bottom: solid 1px #000000;
                }
            }

            .mos9-window__tool--1 {
                &:after {
                    width: 5px;
                    height: 5px;
                    border-right: solid 1px #000000;
                }
            }

            .mos9-window__tool--2 {
                &:after {
                    width: 100%;
                    height: 1px;
                    margin-top: 3px;
                    border-top: solid 1px #000000;
                }
            }
        }
    }

    .mos9-window__content {
        display: grid;
        grid: auto / repeat(3, 1fr);
        grid-gap: 20px;
        justify-items: center;
        align-items: center;
        width: fit-content;
        height: 100%;
        margin: 0 2px 2px;
        padding: 30px 20px;
        background-color: #ffffff;
        box-shadow: inset 0 0 1px 1px #000000;
        border: {
            top: solid 1px #B5B5B5;
            left: solid 1px #B5B5B5;
            right: solid 1px #ffffff;
            bottom: solid 1px #ffffff;
        }
        overflow-y: scroll;
        scrollbar-color: #fafafa gray;
        scrollbar-width: thin;

        .mobile & {
            display: inline-grid;
            grid: 1fr / auto;
            scroll-snap-type: x mandatory;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100vw;

            h2 {
                grid-row: 1;
                grid-column: 1 / -1;
                justify-self: center;
                position: absolute;
            }

            .mos9-window__content__img-container {
                grid-row: 2;
                scroll-snap-align: center;
            }
        }

        h2 {
            color: $darkNight;
            font-size: 20px;
        }

        .mos9-window__content__img-container {
            color: gray;
            font-size: 30px;
            background-color: #ececec;
            height: 350px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            img {
                width: 50px;
                opacity: .2;
            }
        }
    }
}

.mos9-button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 2px;
    border: solid 1px #000000;
    box-shadow: inset 1px 1px #cecece, inset -1px -1px #8c8c8c, 1px 1px #ffffff, -1px -1px #8c8c8c;
    background-color: rgba(156, 156, 156, 1);
    background: linear-gradient(135deg, rgba(156, 156, 156, 1) 0%, rgba(173, 173, 173, 1) 25%, rgba(206, 206, 206, 1) 50%, rgba(222, 222, 222, 1) 75%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9c9c9c', endColorstr='#ffffff', GradientType=1);
}
