@import './assets/fontawesome/css/all.css';
@import './assets/scss/colors';
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import './assets/scss/animations';
@import './assets/scss/global';
@import './assets/scss/header';
@import './assets/scss/audio_player';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    display: block;
    overflow-x: hidden;
}

body {
    #content {
        display: grid;
        grid: auto / 1fr;
        justify-items: center;
        align-items: center;

        .intro {
            display: grid;
            grid: auto / 1fr;
            justify-items: center;
            align-items: center;
            position: relative;

            .text, .grid-bg {
                grid-row: 1;
                grid-column: 1;
            }

            .text {
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .page-title {
                    font-size: 6rem;
                    margin: 0;
                    font-family: 'VT323', monospace;
                    display: grid;
                    grid: auto / auto 14rem auto;
                    justify-items: center;
                    align-items: center;
                    width: fit-content;
                }

                .page-subtitle {
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 1.5rem;
                    transform: translateY(-1rem);
                }
            }

            .grid-bg {
                z-index: 0;
            }

            .crt-lines, .crt-darken, .crt-vignette {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                pointer-events: none;
            }

            .crt-lines {
                z-index: 3;
            }

            .crt-darken {
                z-index: 4;
            }

            .crt-vignette {
                z-index: 5;
            }
        }

        .experience {
            width: 100%;
            max-width: 100%;
            padding: 2rem;
            background: $darkestNight;
            display: grid;
            grid: auto / 1fr 1fr;
            grid-column-gap: 2rem;

            h2 {
                grid-row: 1;
                justify-self: center;
            }
        }
    }
}